<html xmlns="http://www.w3.org/1999/xhtml" ng-app="IndividualProject">
<head>
    <title>IndividualProject</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    


    <base href="/" />
</head>
<body >
    <div class="container">
        <h1 class="head">
            Yumblr <i class="fa fa-cutlery" aria-hidden="true">
            </i>
        </h1>

        <div class="row">
          <div nava">
               <a href="/" class="nava">Home</a> 
              <a ui-sref="about" class="nava">
              About
              </a> 
              <a ui-sref="submit" class="nava">
              Submit a Recipe
              </a> 
              <a ui-sref="top" class="nava">
              Top 10 Recipes
              </a> 
              <a ui-sref="signin" class="nava right">
              |Sign In|
              </a>
             
          </div>
         

           
           
          
          
       
        </div>
        
        <ui-view></ui-view>

    </div>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>


</body>
</html>
